.button {
  @include inconsolata;
  background-color: $yellow;
  color: $black;
  border: solid 2px $yellow;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  cursor: pointer;
  
  &:hover, &:focus {
    transition-duration: 200ms;
    border-color: $egg;
    color: $egg;
    background-color: $black;
  }

  @media (min-width: 768px) and (min-height: 550px) {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}