.custom-shape-divider {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
  &-bottom {
    bottom: 0;
    transform: rotate(180deg);
  }

  &-top {
    top: 0;
  }

  .shape-fill {
    fill: #EDBC40;
  }

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
  }
}