.nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  
  display: flex;
  justify-content: center;
  
  &_wrapper {
    background-color: rgba($black, 0.9);
  
    $paddingTop: 8rem;
    $paddingBottom: 3rem;
    padding: $paddingTop 3rem $paddingBottom 3rem;
    height: calc(100% - ($paddingTop + $paddingBottom));
    width: min(100%, 1100px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
    

    &_items {
      @include karla;
      font-size: 2.25rem;
      color: $egg;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    
      li {
        width: fit-content;
        height: fit-content;
        
        a {
    
          &:hover, &:focus {
            color: $yellow;
          }
        }
      }
    }
    
    &_socials {
      display: flex;
      gap: 1rem;

      a {
        svg {
          fill: $yellow;
        }
  
        &:hover svg, &:focus svg {
          fill: $egg;
        }
      }
    }
  }
  
  &_mobile-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    min-width: 46px;
    aspect-ratio: 1;

    svg {
      fill: $yellow;
      filter: drop-shadow(1px 1px 2px $black);
    }
    
    &:hover svg, &:focus svg {
      fill: $egg;
    }
  }

  @media (min-width: 768px) and (min-height: 550px) {
    left: 0;
    $paddingX: 2rem;
    padding: 0 $paddingX;
    width: calc(100% - $paddingX * 2);
    height: fit-content;

    &_wrapper {
      align-items: center;
      background: none;
      flex-direction: row;
      height: fit-content;
      padding: 4rem 0rem 1rem 0rem;

      &_items {
        @include inconsolata;
        flex-direction: row;
        font-size: 1rem;
        gap: 2rem;
    
        li {
          a {
            text-shadow: 1px 1px 2px $black;
          }
        }
      }

      &_socials {
        gap: 2rem;

        a {
          svg {
            width: 25px;
            height: 25px;
            fill: $egg;
            filter: drop-shadow(1px 1px 2px $black);
            padding: 4px;
          }
    
          &:hover svg, &:focus svg {
            fill: $yellow;
          }
        }
      }
    }
  }
}

