.hero {
  background-color: $black;

  .contacts {
    display: flex;
    flex-direction: column;

    a {
      width: fit-content;
      
      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }
}