.projects {
  background-color: $yellow;

  h2 {
    margin-top: 5rem;
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block: 2.5rem;
    height: 30rem;

    &_images {
      position: relative;
      max-width: 30rem;

      &_main {
        width: 100%;
      }
      
      &_alt {
        width: 30%;
        position: absolute;
        right: 5%;
        top: 2rem;
      }

      &_main, &_alt {
        filter: drop-shadow(0 0.75rem 0.75rem rgba($black, 0.3))
      }
    }

    &_info {
      display: grid;
      gap: 1rem;

      .project-links {
        color: $egg;

        a {
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &_carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    &_left, &_right {
      border: none;
      background: none;
      cursor: pointer;
      padding: 0.5rem;
    }

    &_button-group {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      &_item {
        background-color: transparent;
        width: 0.75rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: solid 2px $black;
        cursor: pointer;
        transition-duration: 200ms;

        &:hover, &:focus {
          background-color: rgba($black, 0.3);
        }
      }
    }
  }

  @media (min-width: 768px) {
    &_card {
      flex-direction: row;
      margin-block: 5rem;
      height: auto;
      min-height: 21rem;
      gap: 2rem !important;

      &_images {
        max-width: 40%;
      }

      &_info {
        width: 60%;
      }
    }
  }
}