$black: #121311;
$yellow: #EDBC40;
$egg: #F2E8D8;
$white: #FFFFFF;

$svgBlack: invert(7%) sepia(8%) saturate(446%) hue-rotate(47deg) brightness(93%) contrast(98%);
$svgYellow: invert(92%) sepia(8%) saturate(7467%) hue-rotate(330deg) brightness(106%) contrast(86%);
$svgEgg: invert(95%) sepia(7%) saturate(621%) hue-rotate(334deg) brightness(102%) contrast(90%);

// transparency
// rgba( $color, .7 )

// darkness/lightness
// darken( $color, 10% )
// lighten( $color, 10% )