@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Karla:wght@700&display=swap');

$regular: 400;
$bold: 700;

@mixin inconsolata($fontWeight: $regular) {
  font-family: 'Inconsolata', monospace;
  font-weight: $fontWeight;
}

@mixin karla {
  font-family: 'Karla', sans-serif;
  font-weight: $bold;
}

p {
  @include inconsolata;
  font-size: 1rem;

  @media (min-width: 768px) and (min-height: 550px) {
    font-size: 1.5rem;
  }
}

h1, h2 {
  @include karla;
  font-size: 3rem;
  line-height: 2.5rem;
  
  @media (min-width: 768px) and (min-height: 550px) {
    font-size: 4rem;
    line-height: 3.125rem;
  }
}

h3, .also {
  @include karla;
  font-size: 2rem;
  line-height: 1.75rem
}

.project-links {
  @include karla;
  font-size: 1rem;
  
  @media (min-width: 768px) and (min-height: 550px) {
    font-size: 1.5rem;
  }
}

.numbers {
  @include karla;
  font-size: 6rem;
  color: $egg;
  opacity: 0.25;
}

.contacts {
  @include inconsolata;
  font-size: 1rem;
  color: $yellow;
}