@import "utilities";
@import "components";
@import "sections";

* {
  margin: 0;
  padding: 0;
  // transition-duration: 200ms;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, svg:hover, img:hover {
  transition-duration: 200ms;
}

li {
  list-style-type: none;
}

svg {
  display: block;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  
  body {
    @include center;
    background-color: $black;
    overflow-x: hidden;
    // transition: none;
  
    #root {
      width: 100%;
  
      main {
        width: 100%;
      }
    }
  }
}